@import "compass/css3";
@import "myCrashAnimation.css";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

$item-height : 3em;

.slide-animation{
  @include transition(.3s ease all);
  overflow: hidden;
  position: relative;

  &.ng-enter{
    @include animation(crash .5s);
    max-height: 0;

    &.ng-enter-active{
      max-height: 4em;
    }
  }

  &.ng-leave{
    @include animation(hinge .3s);
    max-height: 4em;

    &.ng-leave-active{
      opacity: 0;
      max-height: 0;
      padding: 0;
    }
  }
}

.todos {
  padding: 1em 0;

  .todo-item {
    list-style: none;
    padding: .5em 0;

    &.completed {
      input{
        text-decoration: line-through;
      }
    }
  }
}

@import "../components/todo-graph/todo-graph";
